*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #D8B589;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.nav{
    position: sticky;
}
h1{
    margin: 50px 0px 0px 50px;
}
.nav a{
    float: right;
    margin: -25px 50px 0px 0px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
} 
a:hover{
    color: white;
    transition: 0.6s;
}
.nav a.active{
    color: white;
}
img:hover{
    border-radius: 35%;
    box-shadow: 5px 5px 4px black;
    transition: 0.6s ease-in-out;
}
ul{
    list-style-type:none ;
}
.b-2{
    text-align: center;
}
.b-2 h1{
    margin-top: 170px;
    font-family: 'Fuggles', cursive;
    font-size: 45px;
}
.b-2 h2{
    margin-top: -25px;
    font-size: 60px;
    font-family: 'Space Mono', monospace;
    letter-spacing: -2px;
    word-spacing: -5px;
}
.b-2 h3{
    font-size: 60px;
    font-family: 'Teko', sans-serif;
}
.b-2 h4{
    font-size: 50px;
    font-family: 'Space Mono', monospace;
    margin-top: -15px;
}
.b-2 h5{
    font-size: 45px;
    font-family: 'Fuggles', cursive;
}
.b-2 p{
    font-family:'Croissant One', cursive;
}
.hr-1{
    color: #000000;
    width: 50%;
    margin: auto;
    margin-top: 100px;
}
.hr-2{
    color: #000000;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}
.b-1{
    font-family: 'Croissant One', cursive;
    margin: 500px 0 150px 0;
}
.b-1 h1{
    position: absolute;
    margin-left: 150px;
    margin-top: 110px;
    color: white;
}
.b-1 h2{
    position: relative;
    margin: -300px 0 0 570px;
    color: white;
}
.b-1 .bg-1{
    width: 20%;
    height: 40%;
    margin: -200px 0 0 250px;
}
.b-1 .bg-2{
    display: flex;
    width: 50%;
    height: 30%;
    margin: -320px 0 0 500px;
}
.b-1 p{
    margin-left: 590px;
    margin-top: 30px;
    font-family: 'Dela Gothic One', cursive;
}
.b-1 a{
    text-decoration: none;
    margin-top: 15px;
    color: black;
    font-size: 22px;
}
.b-1 .p-1 .fa-github{
    margin-left: 10px;
}
.b-1 .fa-linkedin{
    margin-left: 10px;
}
.fa:hover{
    color: white;
    transition: 0.6s;
}
.footer{
    margin: 0 0 50px 50px;
}
.footer a{
    text-decoration: none;
    color: #000000;
    float: right;
    font-size: 22px;
}
