*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    background-color: #D8B589;
    /* background-image: url("bg_1.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; */
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h1{
    margin: 50px 0px 0px 50px;
}
.nav a{
    float: right;
    margin: -25px 50px 0px 0px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.nav ul li{
    transition: transform 0.3s ease-in-out;
}
.nav ul li:hover{
    transform: translateY(1px);
} 
a:hover{
    color: white;
    transition: 0.6s;
}
.nav a.active{
    color: white;
}
.nav img:hover{
    border-radius: 35%;
    box-shadow: 5px 5px 4px black;
    transition: 0.6s ease-in-out;
}
ul{
    list-style-type:none ;
}
.rows{
    display: block;
    margin: auto;
    /* width: 40vw; */
    /* background-color: red; */
    margin-top: 2rem;
    padding: 0 2rem;
}
.rows .col-1{
    display: grid;
    /* background-color: rebeccapurple; */
    grid-template-columns: repeat(3,2fr);
    grid-auto-columns: auto;
    text-align: center;
    gap: 1rem;
    /* border: 1px solid black; */
    padding: 1rem;
}
.rows .col-1 .card-items{
    box-shadow: 2px 2px 5px 5px grey;
    padding: 1rem;
}
.rows .col-1 .card-items img{
    width: 20vw;
    object-fit: cover;
    padding: 1rem 0;
}
.rows .col-1 .card-items .link{
    margin: 1rem 0;
}
.rows .col-1 .card-items .link a{
    text-decoration: none;
    color: black;
    background-color: #ffff;
    padding: 0.5rem;
}
.rows .col-1 .card-items .link a:hover{
    transition: all 0.2s ease-in-out;
    background-color: black;
    color: white;
}
.footer{
    margin: 0 0 50px 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer a{
    text-decoration: none;
    color: #000000;
    float: right;
    font-size: 22px;
}